.notes__info {
  position: relative;
}
.notes__info img {
  width: 220px;
  height: 220px;
  object-fit: contain;
  margin-top: 2em;
  padding: 10px;
}
.notes {
  padding: 50px;
  margin-right: 20px;
  background-color: blanchedalmond;
}
.notes__description {
  font-size: 1.2em;
  line-height: 0.8em;
}
.notes__title h2 {
  text-transform: uppercase;
}
.notes__description p {
  text-transform: uppercase;
  line-height: 1em;
}
.btnDelete {
  position: absolute;
  top: -45px;
  right: -45px;
  color: black;
  background-color: white;
  border: none;
  padding: 5px;
}
.btnEdit {
  padding: 10px;
  color: white;
  background-color: teal;
}
